@use 'helpers' as *;

:root {
  --color-light: #FFFFFF;

  --color-dark: #000;
  --color-dark-opacity: rgba(0, 0, 0, 0.4);

  --color-gray: #1f20208a;
  --color-gray-button: #F2F2F2;

  --color-green: #7BB899;



  --border: #{rem(1)} solid var(--color-dark-opacity);

  --overlay: rgba(0, 0, 0, 0.5);

  --shadow: 0 0 0 #{rem(3)} #191919;

  --font-family-base: 'Inter', sans-serif;

  --container-width: #{rem(1920)};
  --container-padding-x: #{rem(65)};
  --container-padding-x-mobile: #{rem(24)};

  --transition-duration: 0.2s;

  @include laptop {
    --container-width: #{rem(1360)};
  }
}